.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.product-card {
  display: flex;
  background-color: #333;
  border-radius: 8px;
  padding: 1em;
  width: 100%;
  max-width: 400px;
  text-align: left;
  color: #fff;
  margin: 1em;
}

.product-image {
  flex: 0 0 100px;
  margin-right: 1em;
}

.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-details h3 {
  margin: 0.5em 0;
}

.product-description {
  margin: 0.5em 0;
  font-size: 0.9em;
  color: #ccc;
}

.product-info {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
}

.product-info p {
  margin: 0;
}

.product-card button {
  align-self: flex-start;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.product-card button:hover {
  border-color: #646cff;
}